.about {
    padding: 40px;
    background-color: rgba(211, 248, 255, 0.115);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.about h2 {
    color: #0099ff;
    font-size: 32px;
}

.about p {
    color: #333333;
    font-size: 18px;
    line-height: 1.5;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    position: relative;
    

}

.card {
    width: 250px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #ffffff;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    padding: auto;
}

.card h3 {
    color: #0099ff;
    font-size: 24px;
    text-align: center;
}

.card p {
    color: #333333;
    font-size: 16px;
    padding: 10px;
}

.card:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.map {
  
    background-color: #ffffff;
    width: 700px;
    height: 450px;
}

.map h2 {
    color: #0099ff;
    font-size: 32px;
}

.map p {
    color: #333333;
    font-size: 18px;
    line-height: 1.5;
}

.contacts {
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.866);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contacts h2 {
    color: #0099ff;
    font-size: 32px;
}

.contacts p {
    color: #333333;
    font-size: 18px;
    line-height: 1.5;
    
}

.contacts ul {
    list-style: none;
    
}

.contacts li {
    color: #333333;
    font-size: 18px;
    margin-top: 10px;
    display: flex;
    align-items: center;

}

.contacts li img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.contacts li:hover {
    transform: translateX(10px);
    transition: all 0.3s ease-in-out;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  
  .item {
    width: 30%;
  }
  
  
  .gallery img {
    width: 100%;
    height: auto;
  }
  
  .caption {
    padding: 10px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  .gallery img {
    transform: scale(1.0);
    transition: 0.3s;
  }
  
  .gallery img:hover {
    transform: scale(1.3);
  }
  
  
  .container {
    margin: 0 ;
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.866);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    color: #333;
  }
  
  p {
    font-size: 18px;
    color: #666;
  }
  