/* Стили для таблицы */
table {
    border-collapse: collapse;
    margin: auto;
  }
  
  
  table td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  table input[type=number] {
    width: 50px;
  }
  
  /* Стили для кнопки */
  button[type=submit] {
    display: block;
    margin: auto;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type=submit]:hover {
    background-color: #45a049;
  }
  #form-container {
    display: flex;
    justify-content: center;
  }
  
  #form-container form {
    width: 80%;
  }
  body {
    font-family: 'Times New Roman', serif;
    font-size: 14pt;
  }
  
  h1 {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
  }
  
  p {
    text-indent: 1.5em;
    margin-top: 0;
    margin-bottom: 1em;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table th,
  table td {
    border: 1px solid black;
    padding: 8px;
  }
  
  table th {
    text-align: center;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  
  .item {
    width: 30%;
  }
  
  
  .gallery img {
    width: 100%;
    height: auto;
  }
  
  .caption {
    padding: 10px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  .gallery img {
    transform: scale(1.0);
    transition: 0.3s;
  }
  
  .gallery img:hover {
    transform: scale(1.3);
  }
  
  