body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(background1.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #abbccc; 
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
}



nav a:hover {
  color: #007aff;
}

nav img {
  height: 80px;
  margin-right: 20px;
  padding-left: 40px;
}

nav .account {
  margin-left: auto; 
  padding: 20px;
  
}

nav .account a {
  background-color: #0099ff;
  border-radius: 5px;
  padding: 5px;
  color: white;
  
}








#content {
    padding: 20px;
   
}
#form-container {
    flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.677);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  
}

.form-container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  
  
}

#login-container {
    padding: 80px;
    flex-direction: column;
  align-items: center;
}

form {
   
    
    max-width: max-content;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: rgba(255, 255, 255, 0.907);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
    
}

#update-profile-form {
  margin: 45px;
}



table {
    border-collapse: separate;
    margin: auto;
  }



form label {
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"],
form input[type="phone"],
form input[type="email"] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #ddd;
}

form input[type="submit"] {
    background-color: #007aff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

form input[type="submit"]:hover {
    background-color: #0066cc;
}




form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input[type="text"],
  form input[type="phone"],
  form input[type="password"],
  form input[type="email"] {
    margin-bottom: 10px;
  }

  button {
    
        background-color: #007aff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    
  }
  /* Стили для кнопок "Уволить" и "Удалить пользователя" */
.fire-employee-button,
.delete-user-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 10px;
}

/* Стили для кнопок "Установить зарплату" и "Принять на работу" */
.set-salary-button,
.hire-user-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 10px;
}

/* Добавляем эффект наведения для всех кнопок */
button:hover {
  opacity: 0.8;
}


  
  
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table th,
  table td {
    border: 0px solid black;
    padding: 8px;
  }
  
  table th {
    text-align: center;
  }
  
  #back-button {
    background-color: #b0d6ff;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

#back-button:hover {
    background-color: #007aff;
}





.stepform-container {
  width: 80%;
  margin: auto;
  padding: 20px;
 
}

.stepform-header {
  text-align: center;
}

.stepform-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stepform-item {
  width: 30%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.stepform-image {
  text-align: center;
}

.stepform-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type=number] {
  width: 80px;
}

/* Выделить жирным шрифтом */
**{
  border: 1px solid #000;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

span.total {
  font-weight: bold;
  color: #007aff;
  font-size: 30px;
}


